  /* [ADMIN TEMPLATE]
  **************************/

  /* [AUTH STYLE]
   * **************/
  .authContain {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    height: 100vh;
    
    .authBox {
      margin: 0 auto 1rem auto;
      width: 320px;
      height: 396px;
      border: 2px solid #C52184;
      background: #DDD;

      & .fields {
        position: relative;
        width: 100%;

        & .containCaptcha {
          display: flex;
          width: 100%;
          margin-top: 1.6rem; 

          & div.g-recaptcha {
            margin: auto;
          }
        }

        & .spaceAround {margin: 1rem 3.1rem 0 3rem;}

        & form label {
          margin: 2rem auto 0 3.1rem;
          font-size: 13px;
        }

        & form input {
          display: block;
          margin: 0 auto 0 auto;
          padding: 9px;
          border: 1px solid #C52184;
          background: #eeE9c6;
          color: #870058;
          // color: #a30015; error

          &.fieldError {
            border: 1px solid rgba(255, 0, 0, 1);
            color: #f93943;
            background: #fce4e4;
            background-image: url('../img/xicon.svg');
            background-size: 20px;
            background-position: right 2% center;
            background-repeat: no-repeat;
  
            &[placeholder] {font-weight: bold;}
          }

          &.capsError {
            background: #fce4e4;
            background-image: url('../img/iicon.svg');
            background-size: 25px;
            background-position: right 2% center;
            background-repeat: no-repeat;
          }
        }

        & form div.errorMsg {
          text-align: center;
          font-size: 12px;
          color: red;
          padding: 1px;
          width: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  /* [SIDEBAR ADMIN SECTION]
  ***********************************/

  .titleNav {
    width: 100%;
    height: 40px;
    line-height: 22px;
    padding: 8px;
    font-size: 22px;
    background: #191716;
    color: #FFD700;
    display: none;

    & .messenger {color: #7796CB;}
    & .upload    {color: #EEC0C6;}
    & .update    {color: #5fad56;}
    & .events    {color: #FFF07C;}
    & .settings  {color: #ff6978;}
    & .red       {color: #F93943;}

    & .icon {
      float: right;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .sideTitle {
    width: 100%;
    height: 40px;
    line-height: 22px;
    padding: 8px;
    font-size: 22px;
    background: #191716;
    color: #FFD700;

    & .messenger {color: #7796CB;}
    & .upload    {color: #EEC0C6;}
    & .update    {color: #5fad56;}
    & .events    {color: #FFF07C;}
    & .settings  {color: #ff6978;}
    & .red       {color: #F93943;}
  }
  
  .sidebar {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #191716;
    overflow: hidden;
  
    & a, & .dropDownBtn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      text-align: left;
      width: 100%;
      background: none;
      border: none;

      &.seeSite {
        position: absolute;
        bottom: 0;
      }

      &.active {
        background: #818181;
        color: #191716;
      }
  
      &:hover {
        color: #FFD700;

        &.messenger {color: #7796CB;}
        &.upload    {color: #EEC0C6;}
        &.update    {color: #5fad56;}
        &.events    {color: #FFF07C;}
        &.settings  {color: #ff6978;}
        &.red       {color: #F93943;}
      }
    }

    & .dropDownContainer {
      display: none;
      background-color: #262626;
      padding-left: 8px;
    }

    & .fa-caret-down {
      float: right;
      padding: 3px 8px 3px 0;
    }
  }
  
  @media screen and (max-width: 1190px) {

    .titleNav {
      width: 100%;
      height: 40px;
      line-height: 22px;
      padding: 8px;
      font-size: 22px;
      background: #191716;
      color: #FFD700;
      display: block;
  
      & .messenger {color: #7796CB;}
      & .upload    {color: #EEC0C6;}
      & .update    {color: #5fad56;}
      & .events    {color: #FFF07C;}
      & .settings  {color: #ff6978;}
      & .red       {color: #F93943;}
  
      & .icon {
        float: right;
        margin-right: 1rem;
        font-size: 20px;
        color: #FFF;
      }
    }

    .sideTitle {
      width: 100%;
      height: 40px;
      line-height: 22px;
      padding: 8px;
      font-size: 22px;
      background: #191716;
      color: #FFD700;
      display: none;
  
      & .messenger {color: #7796CB;}
      & .upload    {color: #EEC0C6;}
      & .update    {color: #5fad56;}
      & .events    {color: #FFF07C;}
      & .settings  {color: #ff6978;}
      & .red       {color: #F93943;}
    }
  
    .sidebar {
      height: 0;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #191716;
      overflow-x: hidden;
      padding-top: 0;

      &.showing {
        height: auto;
        padding-top: 16px;
      }
      
      & a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        text-align: left;
        width: 100%;

        &.seeSite {
          display: block;
          position: relative;
        }
        
        &.upload,
        &.update,
        &.events {display: none;}
    
        &:hover {color: #FFD700;}
      }
    }
  
  }

  /* [SNACKBAR]
  ************************/
  
  #snackBar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #2196F3;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20px;
  
    &.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @keyframes fadein {
      from {
        top: 0;
        opacity: 0;
      }
      to {
        top: 20px;
        opacity: 1;
      }
    }
    
    @keyframes fadeout {
      from {
        top: 20px;
        opacity: 1;
      }
      to {
        top: 0;
        opacity: 0;
      }
    }
  }
  
  /* [ADMIN MAIN VIEW]
  *************************/

  .containMainAdmin {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .topBar {
    width: 100%;
    height: 40px;
    background-color: #191716;
    position: relative;
    top: 0;
    left: 0;
    color: #FFF;
    text-align: left;
    line-height: 40px;
  
    & .clockTime {
      width: auto;
      float: right;
      padding-right: 1rem;
    }
  }
  
  .containSlideCards {
    margin: auto;
    width: 50%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #191716;
    color: #FFF;
    margin: 1rem;
    cursor: pointer;
  
    &:hover {
      color: #FFD700;

      &.contact {color: #7796CB;}
      &.upload  {color: #eec0c6;}
      &.gallery {color: #E4572e;}
      &.events  {color: #fff07c;}
    }
  
    & .far, .fas {font-size: 50px;}
  }
  
  .slideCardAnim {
    visibility:hidden;
  }
  
  .slideTopBar {
    animation-name: slideTopBar;
    -webkit-animation-name: slideTopBar;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  .slideCard {
    animation-name: slideCard;
    -webkit-animation-name: slideCard;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slideCard {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @keyframes slideTopBar {
    0% {
      opacity: 0;
      transform: translateY(-70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 500px) {
    .topBar {display: none;}

    .containSlideCards {
      width: 100%;
      margin: auto;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 1000px) {
    .containSlideCards {
      width: 75%;
      margin: auto;
    }    
  }
  
  /* [UPLOAD VIEW]
  *************************/
  
  div#fileList {
    border: 3px dashed #BBB;
    border-radius: 10px;
    min-height: 300px;
  }
  
  div.showDataFields {display: none;}
  
  .btnOverImg {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: auto;
  
    & .imgDrop {
      width: 10rem;
      padding: 2pt;
    }
  
    & .btn {
      position: absolute;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      padding: 5px 5px;
      bottom: 0.5rem;
      right: 0.5rem;
      color: white;
      background-color: #f93943;
      font-size: 10px;
      border: none;
      cursor: pointer;
      text-align: center;
  
      &:hover {
        background-color: #780116;
        padding: 5px 5px;
        border-radius: 5px;
      }
    }
  }
  
  input.uploadForm,
  textarea.uploadForm {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #BBB;
    background: transparent;
    margin: 0 auto 1rem auto;
    font: 16px Arial, Helvetica, sans-serif;
    resize: none;
    overflow: hidden;
  }

  /* [ALERT POPUP]
   * ***********************/
  
  .alertPopup {
    padding: 15px;
    color: white;
    margin-bottom: 15px;
    display: none;
    font-size: 15px;

    &.show {display: block;}
  }
  
  .danger   {background-color: #f44336;}
  .warning  {background-color: #ff9800;}
  .success  {background-color: #4CAF50;}
  .info     {background-color: #2196F3;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  
    &:hover {color: black;}
  }
  
  /* [CONTACT ADMIN VIEW]
  ***************************/
  
  .inquireContainer {
    border: 2px solid #9590A8;
    background-color: #e8b4bc;
    padding: 16px;
    margin: 16px;
    font-size: 12px;
    cursor: pointer;
  
    &:hover {border: 2px solid #17255a;}
  
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  
    &.opened {
      background-color: #c3d898;
      border: 2px solid #7ea16b;

      &:hover{border: 2px solid #17255a;}
      & .time {color: #596f62;}
    }
  
    & img {
      float: left;
      margin-right: 20px;
      width: 90px;
    }
  
    & span {
      font-size: 15px;
      margin-right: 15px;
    }
  
    & .time {
      float: right;
      color: #6d466b;
      font-weight: bold;
      font-size: 12px;
    }
  }
  
  /* [MESSENGER OVERLAY]
   * ***************************/

  .messengerOverlay {
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.9);
    color: #AAA;
    position: absolute;
    overflow: hidden;
  
    & .messengerContainer {
      padding: 1rem;
      width: 75%;
      height: 100vh;
      background-color: #191716;
      font-family: 'Titillium Web';
      position: relative;
      margin: 0 auto 0 auto;
  
      & .contactName {
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        width: 100%;
      }
  
      & .inquirePostDate {
        padding: 10px;
        font-size: 16px;
        text-align: left;
        width: 100%;      
      }
    
      & .inquireSubject {
        padding: 10px;
        font-size: 20px;
      }
    
      & .inquire {
        padding: 10px;
        background-color: #333;
        border: 1px solid #AAA;
      }
  
      & .btnInquire {
        color: #191716;
        font-size: 12px;
        padding: 7px 14px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.3s ease;
        background: #006494;
        border: none;
        margin: 1rem;
  
        &:hover {background: #247ba0;}

        &.red {
          background: #F93943;

          &:hover{background: #FE5F55}
        }
      }
    }

    & .closeMessengerOverlay {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 1;
    
      &:hover, &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  
  .slideMessengerAnim {display: none;}
  
  .slideMessenger {
    animation-name: slideMessenger;
    -webkit-animation-name: slideMessenger;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    display: flex;
  }
  
  @keyframes slideMessenger {
    0% {
      opacity: 0;
      left: 70%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    body {overflow: visible;}
  
    .inquireContainer {
      text-align: center;
  
      & img {
        margin: auto;
        float: none;
        display: block;
      }
  
      & .time {
        margin: auto;
        float: none;
        display: block;
      }
    }
  
    .messengerOverlay {
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      transition: .3s;
      background-color: rgba(0, 0, 0, 0.9);
      color: #FFF;
      position: absolute;
  
      .messengerContainer {
        top: 0;
        width: 100vw;
        height: 100vh;
      }
    }
  }
  
  /* [GALLERY ADMIN VIEW]
  ***************************/
  
  .galleryCol {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: #5F0F40;
  
    & img {
      max-width: 100%;
      width: 100%;
      height: auto;
      // transition: all 0.3s;
      // transform: scale(1);
      display: block;

      &.needsEdit {filter: grayscale(100%);}
    }
  
    & .overlay {
      position: relative;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #5F0F40;
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
      display: flex;
      flex-direction: column;
  
      & .list {
        text-align: left;
        padding: 1rem;
        font-size: 18px;
  
        & a {
          display: block;
          text-decoration: none;
          color: #FE5F55;
  
          &:hover {color: #FFD700;}
        }
      }
    }
    
    &:hover .overlay {
      bottom: 0;
      height: 100%;
    }
  }
  
  .editorOverlay {
    right: 0;
    // top: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    background-color: #191716;
    color: #FFF;
    position: absolute;
    display: flex;
    overflow: hidden;
  
    // .editorContainer {
    //   padding: 1rem;
    //   width: 75%;
    //   height: 100vh;
    //   background-color: #444857;
    //   font-family: 'Titillium Web';
    //   position: relative;
    //   margin: 0 auto 0 auto;
    // }
  
    & .editorColImg {
      display: flex;
      height: 100vh;
  
      & .containerImg {
        margin: auto;
        position: relative;
  
        & img {
          max-width: 100%;
          max-height: 100vh;
          margin: auto;
        }
  
        & .textBlock {
          position: absolute;
          bottom: 20px;
          right: 20px;
          background-color: rgba(0, 0, 0, .6);
          color: #FFF;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 13px;
        }
      }
    }
  
    & .editorColData {
      display: flex;
      flex-direction: column;
      height: 100vh;
  
      & .fieldContainer {
        width: 100%;
        margin: auto auto 0 auto;
  
        & label {
          margin: 1rem auto 0 1rem;
          font-size: 13px;
          color: #666;
        }
      
        & input, textarea {
          padding: 14px;
          display: block;
          border: none;
          background: #333;
          color: #AAA;
          width: 95%;
          margin: auto auto 1rem auto;
        }
  
        & textarea {
          height: 100px;
          resize: none;
        }
      }
  
      & .btnContainer {
        display: flex;
        width: 100%;
        margin: 0 0 auto 0;
  
        & button.btnEditor {
          color: #191716;
          font-size: 12px;
          padding: 14px 28px;
          cursor: pointer;
          border-radius: 5px;
          font-weight: bold;
          transition: 0.3s ease;
          margin: auto;
  
          &.btn-danger {cursor: not-allowed;}
  
          &.enabled {
            background: #065143;
  
            &:hover {background: #129490;}
          }
        }
      }
    }

    & .closeEditor {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 1;
    
      &:hover, &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  
  .slideEditorAnim {display: none;}
  
  .slideEditor {
    animation-name: slideEditor;
    -webkit-animation-name: slideEditor;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    display: flex;
  }
  
  @keyframes slideEditor {
    0% {
      opacity: 0;
      left: 70%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  /* [GALLERY ADMIN END]
  ***************************/

  /* [SETTINGS ADMIN VIEW]
  ***************************/

  .wrapperSettings {
    background: #F1F1F1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    & .containSettings {
      margin: auto auto 2rem auto;
      width: 95%;
      background: #FFF;
      padding-bottom: 1rem;
      border-radius: 5px;

      & .settingTitle {
        position: relative;
        font-size: 3vw;
        font-family: 'Ubuntu', sans-serif;
        max-width: 100%;
        margin: 0 0 1rem 1rem;
      }

      & .settingSubTitle {
        margin: auto auto 1rem 1.5rem;
        position: relative;
        max-width: 100%;
        font-size: 2.5vw;
        font-family: 'Ubuntu', sans-serif;
      }

      & .settingBody {
        margin: auto auto 1rem auto;
        position: relative;
        width: 95%;

        & form {max-width: 35%;}
    
        & form label {font-size: 13px;}
    
        & form input {
          display: block;
          padding: 9px;
          border: 1px solid #C52184;
          background: #eeE9c6;
          color: #870058;
          width: 100%;
          // color: #a30015; error
    
          &.fieldError {
            border: 1px solid rgba(255, 0, 0, 1);
            color: #f93943;
            background: #fce4e4;
            background-image: url('../img/xicon.svg');
            background-size: 20px;
            background-position: right 2% center;
            background-repeat: no-repeat;
    
            &[placeholder] {
              font-weight: bold;
            }
          }
        }
    
        & button.btn {
          background: #5F0F40;
          color: #FE5F55;
    
          &:hover {
            background: #870058;
            color: #FE5F55;
          }
        }
    
        & form div.errorMsg {
          text-align: left;
          width: 35%;
          font-size: 12px;
          color: red;
          padding: 1px;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .wrapperSettings .containSettings .settingTitle {
      position: relative;
      font-size: 10vw;
      font-family: 'Ubuntu', sans-serif;
      max-width: 100%;
      margin: 0 0 1rem 1rem;
    }

    .wrapperSettings .containSettings .settingBody form {max-width: 100%;}

    .wrapperSettings .containSettings .settingSubTitle {
      margin: auto auto 1rem 1.5rem;
      position: relative;
      max-width: 100%;
      font-size: 5vw;
      font-family: 'Ubuntu', sans-serif;
    }
  }

  @media screen and (min-width: 401px) and (max-width: 800px) {
    .wrapperSettings .containSettings .settingTitle {
      position: relative;
      font-size: 5vw;
      font-family: 'Ubuntu', sans-serif;
      max-width: 100%;
      margin: 0 0 1rem 1rem;
    }

    .wrapperSettings .containSettings .settingBody form {max-width: 100%;}

    .wrapperSettings .containSettings .settingTitle .settingSubTitle {
      margin: auto auto 1rem 1.5rem;
      position: relative;
      max-width: 100%;
      font-size: 2.5vw;
      font-family: 'Ubuntu', sans-serif;
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1200px) {
    .wrapperSettings .containSettings .settingTitle {
      position: relative;
      font-size: 4vw;
      font-family: 'Ubuntu', sans-serif;
      max-width: 100%;
      margin: 0 0 1rem 1rem;
    };   
  }
  
  /* [ADMIN TEMPLATE END]
  ***************************/