/* [CLIENT TEMPLATE]
***************************/

  /* [UNDERCONSTRUCTION VIEW]
  ******************************************/
  
  .ucView {
    width: 100%;
    height: 100vh;
    background-image: url('../img/coming-soon-construction-data-211122.jpg');
    background-size: cover;
  }

  /* [MAIN VIEW]
  ************************/

  .floatAdminBtn {
    position:fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
  }

  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    font-size: 35px;
    line-height: 70px;
    height: 70px;
    padding-left: 10pt;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.4s ease;
    overflow: hidden;
    color: #000;
  
    &.main {color: #fafdf6;}
  
    &.sticky {
      font-size: 24px;
      line-height: 48px;
      height: 48px;
      background: rgba(0,0,0,0.5);
      text-align: left;
      padding-left: 20px;
      color: #FFF;
    }

    &.stickyWhite {
      font-size: 24px;
      line-height: 48px;
      height: 48px;
      background: #FFF;
      text-align: left;
      padding-left: 20px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    }
  
    & .headerTitle {
      font-family: 'Charm', cursive;
      font-weight: bold;
      float: left;
    }
  
    & .headerLinks {
      float: right;

      & a {
        float: left;
        padding-right: 2rem;
        font-size: 1rem;
      }
    
      &.main a {color: #FFF;}
    }

    & .headerIcon {
      top: 0;
      right: 0;
      position: absolute;
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    .header {
      position: fixed;
      z-index: 1;
      width: 100%;
      font-size: 20px;
      line-height: 35px;
      height: auto;
      padding-left: 10pt;
      font-family: 'PT Sans', sans-serif;
      transition: all 0.4s ease;
      overflow: hidden;
      color: #000;

      &.white {background: #FFF;} 
      &.main {color: #fafdf6;}
    
      &.sticky {
        font-size: 15px;
        line-height: 35px;
        height: auto;
        background: rgba(0,0,0,0.5);
        text-align: left;
        // padding-left: 20px;
        color: #FFF;
      }
  
      &.stickyWhite {
        font-size: 15px;
        line-height: 35px;
        height: auto;
        background: #FFF;
        text-align: left;
        // padding-left: 20px;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
      }
    
      & .headerTitle {
        font-family: 'Charm', cursive;
        float: left;
        display: block;
        width: 100%;
      }
    
      & .headerLinks {
        height: 0;
        float: left;

        &.showing {height: auto;}
  
        & a {
          display: block;
          float: none;
          width: 100%;
          padding: 0;
          font-size: 1rem;

          &:hover {
            background: #E574BC;
            color: #FFF;
          }
        }
      
        &.main a {color: #FFF;}
      }

      & .headerIcon {
        top: 0;
        right: 1rem;
        position: absolute;
        display: block;
        cursor: pointer;
      }
    }
  }
  
  .overlayGallery {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    overflow: hidden;
    display: flex;
  
    & .closeOverlay {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 12px;
      cursor: pointer;
      color: #fff;
    }
  
    & img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      padding: 0.5rem;
    }
  }
  
  .parallaxTopMainView, 
  .parallaxMiddleMainView, 
  .parallaxBottomMainView {
    position: relative;
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallaxTopMainView {
    background-image: url('../img/IMG_20190804_181455_new.jpg');
    background-position: bottom;
  }
  
  .parallaxMiddleMainView {
    background-image: url('../img/IMG_20190804_181419_new.jpg');
    background-position: center;
  }
  
  .parallaxBottomMainView {
    background-image: url('../img/IMG_20190804_181611.jpg');
    background-position: center;
  }
  
  .parallaxExtraMainView {
    height: 100vh;
    width: auto;
    position: relative;
  }
  
  .parallaxExtraMainView > img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: bottom;
    transition: 0.3s;
  }
  
  .centeredLinkGallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a.mainToGallery {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 20px;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;
  
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  
  /* [Zone de texte superposée de la MainView]
  *********************************************/

  .rightSideText, .leftSideText {
    width: 50%;
    height: 60%;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    margin: 0;
  
    & p {
      margin: auto;
      text-align: justify; 
      font-family: 'charm', cursive; 
      font-size: 19px;
      color: #f2f2f2;
      display: block;
      padding: 2rem;
      margin: auto;
      width: 75%;
      transition: transform 300ms ease-in-out;
      transition: 600ms ease-in-out;
      opacity: 0;
      border-radius: 5px;
  
      &.animateSideText {
        background: rgba(51,51,51,0.4);
        transform: scale(1.1, 1.1);
        box-shadow: 0px 2px 14px 5px rgba(0,0,0,0.75);
        opacity: 1;
      }
    }
  }

  .leftSideText {left: 2rem;}
  
  .rightSideText {right: 2rem;}
  
  .ondine {
    top: 20%;
    left: 20%;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, .9);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position:absolute;
    animation: ondine 3s linear infinite;
    cursor: pointer;

    &::before,
    &::after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius: 50%;
        animation: ondine 3s linear infinite 1s;
    }

    &::after {animation: ondine 3s linear infinite 2s;}

    &.top {
      top: 20%;
      left: 20%;
    }

    &.middle {
      top: 30%;
      left: 70%;
    }

    &.bottom {
      top: 45%;
      left: 17%;
    }
  }

  @keyframes ondine {
    0%    {box-shadow: 0 0 0 .7rem rgba(255,255,255, 0.2);}
    100%  {box-shadow: 0 0 0 8rem rgba(255,255,255, 0);}
  }
  
  /* [END MAIN VIEW]
  *******************************/

  /* [GALLERY VIEW]
  *******************************/

  .gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
    flex-direction: column;
    height: 600px;
  }
  
  .galleryItem {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  
  .containImage {
    position: relative;
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  
  .containImage .galleryImage {
    display: block;
    max-width: 100vw;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
    transform: scale(1);
  }
  
  .containImage:hover .galleryImage {transform: scale(1.2);}
  
  @media screen and (min-width: 801px) {
    @supports (display: grid) {
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
      }
  
      .gallery,
      .galleryItem {margin: 0;}
    }
  }
  
  @media screen and (max-width: 800px) {
  
    @supports (display: grid) {
      .gallery {
        display: grid;
        grid-gap: 2rem;
        height: auto;
      }
    
      .gallery,
      .galleryItem {margin: 0;}
    }
  
  }

  /* [PIECES VIEW]
   * ***************************/

   .wrapper{
    width: 100%;

    .containerGrid {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 125px;
      grid-auto-flow: dense; /* Fill all spaces with fitted images */

      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: #ffeead;
      }
    
      & > div > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

  .horizontal {grid-column: span 2;}
  .vertical {grid-row: span 2;}
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  /* Media Queries */
  
  @media screen and (min-width: 1024px){
    .wrapper{
      width: 960px;
      margin: 0 auto;
    }
  }
  
  /* [CONTACT VIEW]
  *******************************/
  
  .contactTitle {
    width: 100%;
    height: 50vh;
    display: flex;
    border-bottom: 3px solid #D0D0D0;
  }
  
  .boxTitle {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }
  
  label {display: block;}
  
  input.contactField, 
  textarea.contactField {
    width: 90%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 14px;
  }
  
  input.contactField.fieldError, 
  textarea.contactField.fieldError {
    border: 1px solid rgba(255, 0, 0, 1);
    color: #f93943;
    background: #fce4e4;
    background-image: url('../img/xicon.svg');
    background-size: 20px;
    background-position: right 2% center;
    background-repeat: no-repeat;
  
    &[placeholder] {font-weight: bold; }
  }
  
  input.contactField.fieldGood {
    border: 1px solid rgba(0, 255, 0, 1);
    background-image: url('../img/vicon.svg');
    background-size: 20px;
    background-position: right 2% center;
    background-repeat: no-repeat;
  }
  
  textarea.contactField {
    height: 100px;
    resize: none;
  }
  
  form#contactInquiries div.errorMsg {
    font-size: 12px;
    color: red;
    padding: 1px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button.btnContact {
    border: 2px solid #000;
    background: #fff;
    color: #000;
    font-size: 12px;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 1rem;
  }
  
  button.btnContact:hover {
    background: #000;
    color: #fff;
  }
  
  /* [END CONTACT VIEW]
  *******************************/
  
  a.downArrow {
    position: absolute;
    top: 92%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  
  a.downArrow {opacity: 1;}
  
  @keyframes sdb04 {
    0%  {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
  }
  
  .philosophy {
    width: 100%;
    background: #f1f1f1;
  
    & img {
      width: 100%;
      background-size: cover;
    }
  }
  
  
  /* [FOOTER]
  *************************/
  
    .footer {
      margin-top: auto;
      width: 100%;
      height: 150px;
      background: rgba(0, 0, 0, 1);
      color: #FFF;
      display: flex;

      & .textBoxFooter {margin: auto;}
    }
  
  /* [BOITE A IDEES]
  ***********************/